<h1>Account Login</h1>
<form action="/" method="POST">
  <div class="email">
    <label for="inputEmail">Email:</label>
    <input type="email" name="email" id="inputEmail" placeholder="Enter your email">
  </div>
  <div class="password">
    <label for="inputPassword">Password:</label>
    <input type="password" name="password" id="inputPassword" placeholder="Enter your password">
  </div>
  {{#if noAccountMsg }} <span class="errorMsg">{{noAccountMsg}}</span>{{/if}}
  {{#if wrongPwMsg }} <span class="errorMsg">{{wrongPwMsg}}</span>{{/if}}
  <button type="submit">Sign in</button>
</form>